@font-face {
    font-family: 'IBMPlexMono';
    src: url('../assets/font/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
